[Unit]
Description=Catty Webhook Server
After=network.target

[Service]
User=timoha
WorkingDirectory=/home/timoha/Desktop/devops/catty-reminders-app/lab1/webhook_server
ExecStart=/home/timoha/Desktop/devops/catty-reminders-app/venv/bin/python3 /home/timoha/Desktop/devops/catty-reminders-app/lab1/webhook_server/app.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
