[Unit]
Description=Catty Webhook Service
After=network.target

[Service]
User=timoha
WorkingDirectory=/home/timoha/Desktop/devops/catty-reminders-app
Environment="PATH=/home/timoha/Desktop/devops/catty-reminders-app/venv/bin"
ExecStart=/home/timoha/Desktop/devops/catty-reminders-app/venv/bin/python -m webhook.main

Restart=always

[Install]
WantedBy=multi-user.target
